<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="/css/video-chat.css">

    <!-- 구글 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+KR&display=swap" rel="stylesheet">

    <title>CODEGRASS - VIDEOCHAT</title>
</head>
<body>

<div id="videoContainer">
    <!-- 매니저 비디오 (왼쪽 절반) -->
    <div id="managerVideoContainer">
        <video id="managerVideo" autoplay muted></video>
        <!-- 화면 공유 시 내 얼굴을 띄워줄 작은 비디오 요소 -->
        <video id="localCameraVideo" autoplay muted></video>

        <!-- 메뉴바 추가 -->
        <div id="managerMenuBar">
            <button id="toggleCameraBtn" onclick="window.toggleCamera()" style="background-color: #333; color: white; border: none; padding: 10px; border-radius: 5px; cursor: pointer; margin-right: 10px;">카메라 끄기</button>
            <button id="toggleScreenShare"></button>
            <button id="toggleMemberListPanel"></button>
        </div>
    </div>

    <!-- 멤버 비디오 (오른쪽 절반) -->
    <div id="memberVideosContainer"></div>

    <!-- 멤버 리스트 패널 -->
    <div id="memberListPanel">
        <div id="memberListHeader">
            <span>참여중인 사용자</span>
            <button id="closeMemberListPanel">X</button>
        </div>
        <ul id="memberList"></ul>
    </div>
</div>

<input type="hidden" id="videoModalSessionId" value="">
<input type="hidden" id="microphoneIsEnabled" value="false">

<!-- 비디오 모달 추가 -->
<div id="memberVideoModal">
    <video id="videoModal" autoplay playsinline></video>
    <button id="closeVideoModalBtn" onclick="closeVideoModal()"></button>
    <button id="microphoneControlBtn" onclick="sendMicrophone()"></button>
</div>

<script>
    const pathname = window.location.pathname;
    const role = pathname.split('/').pop();
    console.log('role = ', role);
    if(role !== 'manager') {
        document.getElementById('toggleScreenShare').style.display = 'none';
    }
</script>
<script src='/js/webrtc.js'></script>
<script type="module" src="/js/member-panel.js" defer></script>
<script type="module" src="/js/video-grid.js" defer></script>
<script type="module" src="/js/screen-share.js" defer></script>
</body>
</html>
